* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dosis';
}

body {
    background: #72A3B5;
}

body h1 {
    font-size: 20em;
    text-align: center;
}

body h5 {
    font-size: 3em;
}
